.p-tabs .p-tablist {
    border-radius: 12px 12px 0 0;
}
.p-tabs .p-tablist, .p-tabs .p-tabpanels,
.p-tablist-content .p-tablist-tab-list  {
    background: var(--bg-subtle);
    border: 1px solid var(--border-color);
    border-top: none;
}
.p-tablist-content .p-tablist-tab-list {
    border: 1px solid var(--border-color);
    border-radius: 12px 12px 0 0;
}
.p-tablist-tab-list .p-tab-active {
    color: var(--color-brand);
    background: var(--bg-base);
    border-color: var(--color-brand);
}
.p-tablist-tab-list .p-tab:first-child {
    border-radius: 12px 0 0 0;
}
.p-tablist-tab-list .p-tab {
    padding: 12px 24px;
    font-weight: 500;
    transition: all 0.3s;
}
.p-tablist-tab-list .p-tab-active:hover {
    color: var(--color-brand-hover);
}

.p-tablist-tab-list .p-tab:not(.p-tab-active):not(.p-disabled):hover {
    color: var(--color-brand-hover);
}

.p-tablist-tab-list .p-tablist-active-bar {
    background: var(--color-brand);
    color: var(--color-brand);
    /*left: 0 !important;*/
}